<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saferoute">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
    <!-- Ensure GPS hardware is available (remove if not necessary) -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:label="SafeRoute"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="honeycomb">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Required for Flutter plugins -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- Google Location API Metadata (Optional) -->
        <meta-data
            android:name="com.google.android.gms.location.underspecification"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="poda poi pal kudi"/>

        <!-- Foreground service for background location tracking -->
<!--        <service-->
<!--&lt;!&ndash;            android:name=".LocationService"&ndash;&gt;-->
<!--            android:foregroundServiceType="location"-->
<!--            tools:ignore="MissingClass" />-->

    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.CALL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
